# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs

# Rider
.idea/

# Build files
*.sln
*.xcodeproj

# Logs
*.log

# Crash dumps
*.dmp

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store